{{ define "navbar" }}
    <div class="ui four item menu">
        <a class="item" href="/events">Events</a>

        <div class="ui dropdown item">
            Hunts
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/hunts/run">Run</a>
                <a class="item">Add</a>
                <a class="item">Modify</a>
            </div>
        </div>

        <a class="item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}
    <script type="text/javascript">

       $( document ).ready(function() {

           $('.ui.dropdown')
               .dropdown()
           ;

       });

    </script>
{{ end }}